 .buttonPrimary{
    line-height: 44px;
    width: 90px;
    background: darkgray;
    margin-bottom: 20px;
    display: inline-block;

}

.buttonWrapper{
    display: inline-block;
    margin-right: 21px;
}